%h2 電話番号情報登録
= form_for @authentication_phonenumber, url:authentication_phonenumbers_path, method: :post do |f|
  = render "devise/shared/error_messages", resource: @authentication_phonenumber
  .field
    = f.label :authentication_phonenumber
    %br/
    %input{type: "text"}/
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
