.single__footer
  .single__footer__detail
    = link_to "プライバシーポリシー"
    = link_to "メルカリ利用規約"
    = link_to "特定商取引に関する表記"
  .single__footer__logo
    = link_to root_path, class: 'devise-footer__content__link' do
      = image_tag 'logo_gray.svg', alt: 'logo', class: 'devise-header__content__link__image', height: '65', width: '80'
  %p © 2019 Mercari