<h2>クレジットカード情報登録</h2>

<%= form_for (@credit_card) do |f| %>
  <%= render "devise/shared/error_messages", resource: @credit_card %>

  <div class="field">
    <%= f.label :card_number %><br />
    <%= f.number_field :card_number %>
  </div>

  <div class="field">
    <%= f.label :card_limit_month %><br />
    <%= f.number_field :card_limit_month %>
  </div>

    <div class="field">
    <%= f.label :card_limit_year %><br />
    <%= f.number_field :card_limit_year %>
  </div>
     <div class="field">
    <%= f.label :security_number %><br />
    <%= f.number_field :security_number %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

