.purchase__login__container 
  .purchase__simple__header
    .purchase__simple__header__logo
      = link_to root_path do
        = image_tag 'fmarket_logo_red.svg', alt: 'logo', class: 'purchase__header__link__image', height: '49', width: '185'
  %main.purchase__main
    .purchase__main__box
      %h2.purchase__main__box__head 
        = "購入内容の確認"
      .purchase__single
        .purchase__single__product
          = image_tag 'product.jpg', alt: 'logo', class: 'purchase__single__product__image', height: '80', width: '80'
          .purchase__single__product__box
            .purchase__single__product__box__text 
              = "段ボール"
            .purchase__single__product__box__price
              = "¥12,000 （税込）送料込み"
      .purchase__multiple  
        .purchase__multiple__box  
          .purchase__multiple__box__price
            .purchase__multiple__box__price__detail
              .purchase__multiple__box__price__detail__text
                = "支払い金額"
              .purchase__multiple__box__price__detail__price
                = "¥12,000"
            .purchase__multiple__box__price__point
              %input#point__use{type: "checkbox"}/
              .purchase__multiple__box__price__point__text
                = "ポイントを使用(所持ポイント: P0)"
          .purchase__multiple__box__method
            .purchase__multiple__box__method__box
              .purchase__multiple__box__method__box__main
                .purchase__multiple__box__method__box__main__text
                  支払い方法
                .purchase__multiple__box__method__box__main__change
                  変更する
              .purchase__multiple__box__method__box__method
                クレジットカード
              .purchase__multiple__box__method__box__number
                ************1234
              .purchase__multiple__box__method__box__limit
                有効期限 01 / 23
                .purchase__multiple__box__method__box__point__card__company
                  =image_tag "Visa_Inc._logo.svg", size: "50x30",alt:"visa"
          .purchase__multiple__box__address
            .purchase__multiple__box__address__main
              .purchase__multiple__box__address__main__text
                配送先
              .purchase__multiple__box__address__main__change
                変更する
            .purchase__multiple__box__address__zip
              = "〒123-1234"
            .purchase__multiple__box__address__address
              = "愛知県 名古屋市"
            .purchase__multiple__box__address__name
              = "フリマ次郎"
          .purchase__multiple__box__confirm
            .purchase__multiple__box__confirm__btn
              = link_to "購入する", destroy_user_session_path, method: :delete     
  = render "devise/shared/registration_login_footer" 