.upper_wrapper
  .logo
    = link_to root_path do
      = image_tag 'fmarket_logo_red.svg'
  %form.form{action: '*'}
    %input.form__text{type: "search", placeholder: "何かお探しですか？"}
    %button.form__button
      = fa_icon 'search'
.lower_wrapper
  %ul.left_contents
    %li.left_contents__category
      = link_to '*' do
        .left_contents__category--icon
          = fa_icon 'list'
        .left_contents__category--letter
          カテゴリーから探す
        .left_contents__category--area
          - @categorysLeft.each do |f|
            = link_to '' do
              .left_contents__category--area--list{data: {left: f.category_left_id}}
                = f.category_left_name
        - @categorysLeft.each do |f1|
          .left_contents__category--area2{id:"category-center-#{f1.category_left_id}"}
            - @categorysCenter.each do |f2|
              -if f1.category_left_id == f2.category_left_id
                = link_to '' do
                  .left_contents__category--area2--list{data: {center: "#{f2.category_left_id}#{f2.category_center_id}"}}
                    = f2.category_center_name
        - @categorysCenter.each do |f2|
          .left_contents__category--area3{id:"category-right-#{f2.category_left_id}#{f2.category_center_id}"}
            - @categorysRight.each do |f3|
              -if f2.category_left_id == f3.category_left_id && f2.category_center_id == f3.category_center_id
                = link_to '' do
                  .left_contents__category--area3--list{data: {right: "#{f3.category_left_id}#{f3.category_center_id}#{f3.category_right_id}"}}
                    = f3.category_right_name
    %li.left_contents__brand
      = link_to '' do
        .left_contents__brand--icon
          = fa_icon 'magic'
        .left_contents__brand--letter
          ブランドから探す
      .left_contents__brand--area
        - @brands.each do |f|
          = link_to '' do
            .left_contents__brand--area--list
              = f.name
  %ul.right_contents
    - if user_signed_in?   
      %li.right_contents__like
        = link_to '*' do
          .right_contents__like--icon
            = fa_icon 'heart'
          .right_contents__like--letter
            いいね！一覧
      %li.right_contents__information
        = link_to '*' do
          .right_contents__information--icon
            = fa_icon 'bell'
          .right_contents__information--letter
            お知らせ
      %li.right_contents__todo_list
        = link_to '*' do
          .right_contents__todo_list--icon
            = fa_icon 'check'
          .right_contents__todo_list--letter
            やることリスト 
      %li.right_contents__mypage
        = link_to '/mypage' do
          .right_contents__mypage--icon
            = fa_icon 'user'
          .right_contents__mypage--letter
            マイページ   
      %li.right_contents__mypage
        = link_to 'purchase_confirmation' do
          .right_contents__mypage--icon
            = fa_icon 'user'
          .right_contents__mypage--letter
            商品購入確認  
          
    - else
      %li.right_contents__registration-button
        = link_to "新規会員登録", start_user_registration_path, class:"btn-red"
      %li.right_contents__login-button
        = link_to 'ログイン',  new_user_session_path, class:"blue-btn"
