.header
  = render 'header'

.contents
  .ad
    = link_to '*' do
      広告

  .categories
    .category
      .h1
        人気のカテゴリー
    %ul.category_list
      /最終的にeachでまとめることになる
      %li.category_list__left
        = link_to '*' do
          カテゴリー１
      %li.category_list__right
        = link_to '*' do
          カテゴリー２

  .items
    .top_contents
      .top_contents__left
        新着アイテム
      .top_contents__right
        = link_to '*' do
          もっと見る ＞
    %ul.item_list
      /最終的にeachでまとめることになる
      %li.item_list__a
        = link_to item_path(1) do
          .item_list__a--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__a--title
            商品名
      %li.item_list__b
        = link_to '*' do
          .item_list__b--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__b--title
            商品名    
      %li.item_list__c
        = link_to '*' do
          .item_list__c--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__c--title
            商品名
      %li.item_list__d
        = link_to '*' do
          .item_list__d--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__d--title
            商品名
      %li.item_list__e
        = link_to '*' do
          .item_list__e--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__e--title
            商品名
      %li.item_list__f
        = link_to '*' do
          .item_list__f--image
            /仮置き
            = image_tag '45019.png', height: "190", width: "180"
          .item_list__f--title
            商品名
  = render 'tops/sell_button'
  = render 'tops/footer'