.top
  .top__logo
    = link_to root_path do
      = image_tag 'fmarket_logo_red.svg'
.exhibition
  = form_for @item, html: { class: 'exhibition_form' } do |f|
    .top_content
      商品の情報を入力
    .image
      .image__upper
        .image__upper_text
          出品画像
        .mast
          必須
      .image__lower
        .image__lower--text
          最大10枚までアップロードできます
          #image-box.image__lower--image
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            = f.fields_for :images do |image| 
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :src, class: 'js-file'
                %br/
                %span.js-remove 削除
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
            - if @item.persisted?
              .js-file_group{"data-index" => "#{@item.images.count}"}
                = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                .js-remove 削除
            .image__lower--image_text
              ドラッグアンドドロップ
              %br またはクリックしてファイルをアップロード        
    .overview
      .overview__item_name
        .overview__item_name--text
          .overview__item_name--text_area
            商品名
          .mast
            必須
        = f.text_field :name, class: "overview__item_name--input", placeholder: "商品名（必須40文字まで）"
      .overview__item_description
        .overview__item_description--text
          .overview__item_description--text_area
            商品の説明
          .mast
            必須
        = f.text_area :description, class: "overview__item_description--input", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
    .details
      .details__left
        商品の詳細
      .details__right
        .details__right--category
          .details__right--category_text
            .details__right--category_text_area
              カテゴリー
            .mast
              必須
          = f.collection_select :category_id, Category.all, :id, :name, prompt: "---"
        .details__right--condition
          .details__right--condition_text
            .details__right--condition_text_area
              商品の状態
            .mast
              必須
          = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "---"
    .delivery
      .delivery__left
        .delivery__left--text
          配送料について
        .delivery__left--icon
          =link_to '*' do
            = fa_icon 'question-circle', class: 'question-circle-icon'
      .delivery__right
        .delivery__right--payment
          .delivery__right--payment_text
            .delivery__right--payment_text_area
              配送料の負担
            .mast
              必須
          = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, prompt: "---"
        .delivery__right--country
          .delivery__right--country_text
            .delivery__right--country_text_area
              発送元の地域
            .mast
              必須
          = f.collection_select :shipping_prefecture_id, ShippingPrefecture.all, :id, :name, prompt: "---"
        .delivery__right--days
          .delivery__right--days_text
            .delivery__right--days_text_area
              発送までの日数
            .mast
              必須
          = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name, prompt: "---"
    .price
      .price__left
        .price__left--text
          販売価格(300〜9,999,999)
        .price__left--icon
          =link_to '*' do
            = fa_icon 'question-circle', class: 'question-circle-icon'
      .price__right
        .price__right--price
          .price__right--price_text
            .price__right--price_text_area
              価格
            .mast
              必須
          .price__right--price_form
            .price__right--price_form_yen
              ¥
            %input#price_calc.price__right--price_form_input{placeholder: "例) 300", type: "number"}/
        .price__right--fee
          .price__right--fee_text
            販売手数料(10%)
          .price__right--fee_calculation
            /手数料自動計算
            .right_bar
        .price__right--gain
          .price__right--gain_text
            販売利益
          .price__right--gain_calculation
            = f.number_field:price, style: "display: none", id: "price"
            .right_bar_2
    .attention
      .attention__top
        %a{href: '*', class: "font-skyblue" }> 禁止されている出品
        、
        %a{href: '*', class: "font-skyblue" }> 行為
        を必ずご確認ください。
      .attention__middle
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        %a{href: '*', class: "font-skyblue" }> 偽ブランドの販売
        は犯罪であり処罰される可能性があります。
      .attention__bottom
        また、出品をもちまして
        %a{href: '*', class: "font-skyblue" }> 加盟店規約
        に同意したことになります。
    = f.submit "出品する", class: "exhibition__submit"
    .back_button
      = link_to root_path do
        %a{class: "font-white"}> もどる
/マージ後に適用
/= render "devise/shared/registration_login_footer"



