.header
  = render 'tops/header'
.main.clearfix
  .shosaimain.clearfix
    .shosaimain__item.clearfix
      = @item.name
    .shosaimain__iteminfo.clearfix
      .shosaimain__iteminfo__image
        .shosaimain__iteminfo__image__main
        = image_tag @images[0].src.url, height: "300", width: "300",id:"mainImage"
        .shosaimain__iteminfo__underimage
          - @images.each do |image|
            .shosaimain__iteminfo__underimage__sub{data: { url:image.src.url }}
              = image_tag image.src.url, height: "60", width: "60"
      .shosaimain__iteminfo__table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to '' ,class:"text-blue" do 
                  = @sellUser.nickname
                %div
                  = fa_icon '', class: 'icon fa fa-smile-o color-good'
                  = 55
                  = fa_icon '', class: 'icon fa fa-meh-o color-meh'
                  = 2
                  = fa_icon '', class: 'icon fa fa-frown-o color-frown'
                  = 3
            %tr
              %th カテゴリー
              %td
                %div
                  = link_to '' ,class:"text-blue" do 
                    = @itemCategory.category_left_name
                %div
                  = link_to '' ,class:"text-blue" do
                    = fa_icon '', class: 'icon fa fa-chevron-right text-blue'
                    = @itemCategory.category_center_name
                %div
                  = link_to '' ,class:"text-blue" do
                    = fa_icon '', class: 'icon fa fa-chevron-right text-blue'
                    = @itemCategory.category_right_name
            %tr
              %th ブランド
              %td
                = link_to '' ,class:"text-blue" do 
                  - if @item.brand_id.present?
                    = Brand.find(@item.brand_id).name
            %tr
              %th 商品の状態
              %td 
                = Condition.find(@item.condition_id).name
            %tr
              %th 配送料の負担
              %td
                = DeliveryCharge.find(@item.delivery_charge_id).name
            %tr
              %th 発送の方法
              %td 
                = @item.shipping_method
            %tr
              %th 配送元地域
              %td 
                = ShippingPrefecture.find(@item.shipping_prefecture_id).name
            %tr
              %th 発送日の目安
              %td 
                = ShippingDate.find(@item.shipping_date_id).name
    %div
    .shosaimain__pricearea
      .shosaimain__pricearea__price
        = '¥'
        = @item.price.to_s(:delimited)
        %span.shosaimain__pricearea__zekomi
          = "(税込)" 
          %span.shosaimain__pricearea__soryo
            = "送料込み"
    .shosaimain__buybutton
      ="購入画面に進む"
    .shosaimain__honbun
      = @item.description
    .shosaimain__kabu
      .shosaimain__kabu__left
        %button.shosaimain__kabu__left__line
          = fa_icon '', class: 'icon fa fa-heart-o'
          = "いいね!"
          = "0"
        %button.shosaimain__kabu__left__line
          = fa_icon '', class: 'icon fa fa-flag-o'
          = "不適切な商品の報告"
      .shosaimain__kabu__right
        = link_to '' ,class:"text-blue" do 
          = fa_icon '', class: 'icon fa fa-lock text-blue'
          = "あんしん・あんぜんへの取り組み"
  .shosaimessage
    .shosaimessage__content
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.shosaimessage__content__text
      %button.shosaimessage__content__button
        = "コメントする"
  .shosailink
  = render 'tops/footer'