.header
  = render 'tops/header'
.pankuzu
  %ul
    = link_to root_path do
      = "Freemarket"
    = fa_icon '', class: 'icon fa fa-chevron-right'
    = link_to mypage_index_path do
      = "マイページ"
    = fa_icon '', class: 'icon fa fa-chevron-right'
    = "ログアウト"
.main.clearfix
  .main_block
    = render 'shared/mypage_left_bar.haml'
  .logout__content
    .logout__content__btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete

