.header
  .upper_wrapper
    .upper_wrapper__logo
      /ここにロゴを入れる
    .upper_wrapper__search
      /ここに検索バーを入れる

  .lower_wrapper
    %ul.left_contents
      %li.left_contents__category
        = link_to '*' do
          .left_contents__category--icon
            /ここにアイコンを入れる
          .left_contents__category--letter
            カテゴリーから探す
      %li.left_contents__brand
        = link_to '*' do
          .left_contents__brand--icon
            /ここにアイコンを入れる
          .left_contents__brand--letter
            ブランドから探す

    %ul.right_contents
      %li.right_contents__good
        = link_to '*' do
          .right_contents__good--icon
            /ここにアイコンを入れる
          .right_contents__good--letter
            いいね！一覧
      %li.right_contents__information
        = link_to '*' do
          .right_contents__information--icon
            /ここにアイコンを入れる
          .right_contents__information--letter
            いいね！一覧
      %li.right_contents__todo_list
        = link_to '*' do
          .right_contents__todo_list--icon
            /ここにアイコンを入れる
          .right_contents__todo_list--letter
            いいね！一覧 
      %li.right_contents__mypage
        = link_to '*' do
          .right_contents__mypage--icon
            /ここにアイコンを入れる
          .right_contents__mypage--letter
            いいね！一覧

.contents
  .ad
    = link_to '*'
    /ここに広告？を入れる

  .categories
    .h1
      人気のカテゴリー
    %ul.category_list
      %li.category_list__left
        = link_to '*' do
          カテゴリー１
      %li.category_list__right
        = link_to '*' do
          カテゴリー２

  .items
    .top_contents
      .top_contents__right
        新着アイテム
      .top_contents__left
        = link_to '*' do
          もっと見る ＞
    %ul.item_list
      %li.item_list__a
        = link_to '*' do
          .item_list__a--image
            /写真を入れる
          .item_list__a--title
            商品名
      %li.item_list__b
        = link_to '*' do
          .item_list__b--image
            /写真を入れる
          .item_list__b--title
            商品名    
      %li.item_list__c
        = link_to '*' do
          .item_list__c--image
            /写真を入れる
          .item_list__c--title
            商品名
      %li.item_list__d
        = link_to '*' do
          .item_list__d--image
            /写真を入れる
          .item_list__d--title
            商品名
      %li.item_list__e
        = link_to '*' do
          .item_list__e--image
            /写真を入れる
          .item_list__e--title
            商品名
      %li.item_list__f
        = link_to '*' do
          .item_list__f--image
            /写真を入れる
          .item_list__f--title
            商品名